$base-space-unit:       1em !default;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Font Icons
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?y6axu4');
	src:url('fonts/icomoon.eot?#iefixy6axu4') format('embedded-opentype'),
	url('fonts/icomoon.woff?y6axu4') format('woff'),
	url('fonts/icomoon.ttf?y6axu4') format('truetype'),
	url('fonts/icomoon.svg?y6axu4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e600";
}
.icon-github:before {
	content: "\e601";
}

html,
body {
	height: 100%;
	color: #555;
	font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #2c3e50;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

//
// Landing Page Design
//

.full-image {
	background-color: #2C3944;
	background-image: url("/images/bg.jpg");
	background-size: cover;
	color: #fff;
}

.full-image h2,
.full-image h3 {
	color: #fff;
}

@media (min-width: 768px) {
	.full-height {
		height: 100%;
	}
	.centered {
		display: table;
	}

	.centered__inner {
		display: table-cell;
		vertical-align: middle;
	}
}

.full-image .form-control {
	border: 0;
	border-radius: 0;
}

.features li {
	margin-bottom: 2em;
}

.logo {
	width: 200px;
}

.media-icon {
	width: 50px;
}

//
// Social Icons

.social-icons a:hover {
	text-decoration: none;
}

[class^="icon-"] {
	color: #fff;
	font-size: 2em;

	&:hover {
		color: #f16001;
	}
}

//
// Overide Bootstrap Classes

.media > .pull-left {
	margin-right: 25px;
}

code {
	background-color: transparent;
	border-radius: 0;
	color: #333;
}

//
// Button Success

.btn-success {
	background-color: #f16001;
	border-color: #f16001;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus {
	background-color: #f16001;
	border-color: #f16001;
	opacity: .9;
}

//
// Signup form alerts

.mc-label {
	font-size: 13px;
	font-weight: 400;
	padding-top: 6px;
}

.mc-label.valid {
	font-weight: 400;
	font-size: 16px;
	color: #5cb85c;
}

.mc-label.error {
	font-weight: 400;
	font-size: 16px;
	color: #e74c3c;
}

// Some helper classes for margin and padding

@function quarter($value)   { @return $value / 4; }
@function halve($value)     { @return $value / 2; }
@function halve($value)     { @return $value / 2; }

@function double($value)    { @return $value * 2; }
@function threefold($value) { @return $value * 3; }
@function quadruple($value) { @return $value * 4; }

//
// Padding
//

//
// Top Padding

.padding-top-none       { padding-top: 0; }
.padding-top-quarter    { padding-top: quarter($base-space-unit); }
.padding-top-halve      { padding-top: halve($base-space-unit); }
.padding-top-one        { padding-top: $base-space-unit; }
.padding-top-two        { padding-top: double($base-space-unit); }
.padding-top-three      { padding-top: threefold($base-space-unit); }
.padding-top-four       { padding-top: quadruple($base-space-unit); }


//
// Bottom Padding

.padding-bottom-none    { padding-bottom: 0; }
.padding-bottom-quarter { padding-bottom: quarter($base-space-unit); }
.padding-bottom-halve   { padding-bottom: halve($base-space-unit); }
.padding-bottom-one     { padding-bottom: $base-space-unit; }
.padding-bottom-two     { padding-bottom: double($base-space-unit); }
.padding-bottom-three   { padding-bottom: threefold($base-space-unit); }
.padding-bottom-four    { padding-bottom: quadruple($base-space-unit); }


//
// Right Padding

.padding-right-none       { padding-right: 0; }
.padding-right-quarter    { padding-right: quarter($base-space-unit); }
.padding-right-halve      { padding-right: halve($base-space-unit); }
.padding-right-one        { padding-right: $base-space-unit; }
.padding-right-two        { padding-right: double($base-space-unit); }
.padding-right-three      { padding-right: threefold($base-space-unit); }
.padding-right-four       { padding-right: quadruple($base-space-unit); }


//
// Left Padding
.padding-left-none       { padding-left: 0; }
.padding-left-quarter    { padding-left: quarter($base-space-unit); }
.padding-left-halve      { padding-left: halve($base-space-unit); }
.padding-left-one        { padding-left: $base-space-unit; }
.padding-left-two        { padding-left: double($base-space-unit); }
.padding-left-three      { padding-left: threefold($base-space-unit); }
.padding-left-four       { padding-left: quadruple($base-space-unit); }


//
// Padding All

.padding-none           { padding: 0; }
.padding-quarter        { padding: quarter($base-space-unit); }
.padding-halve          { padding: halve($base-space-unit); }
.padding-one            { padding: $base-space-unit; }
.padding-two            { padding: double($base-space-unit); }
.padding-three          { padding: threefold($base-space-unit); }
.padding-four           { padding: quadruple($base-space-unit); }


//
// Margin
//

.margin-bottom-one      { margin-bottom: 1em; }
.margin-top-none { margin-top: 0; }
